<template>
  <div
    class="card daily-table-area"
    :style="[sharedtDate.selectedUserId !== -1 ? {'overflow-x': 'hidden'} : {}]"
  >
    <div v-if="(sharedtDate.selectedUserId !== -1)" class="cell-wrapper"/>
    <table class="table table-striped table-bordered daily-project">
      <!-- <div :class="[{enable: selectedUser !== -1}]"></div> -->
      <tbody>
        <tr>
          <th scope="col">{{sharedtDate.dateString}}</th>
          <template v-for="user in users">
            <th
              :key="user.id"
              scope="col"
              :class="[{selected: sharedtDate.selectedUserId === user.id}]"
            >
              {{user.name}}
              <button
                v-if="(sharedtDate.selectedUserId == -1)"
                type="button"
                class="btn btn-info btn-sm"
                @click="onSelectUser($event, user.id)"
              >変更</button>
              <button
                v-if="(sharedtDate.selectedUserId == user.id)"
                type="button"
                class="btn btn-primary btn-sm"
                @click="onSubmit()"
              >更新</button>
            </th>
          </template>
        </tr>
        <tr v-for="project in projects" :key="project.id">
          <th scope="row">{{project.name}}</th>
          <template v-for="user in users">
            <td :key="user.id" :class="[{selected: sharedtDate.selectedUserId === user.id}]">
              <template v-if="user.id == sharedtDate.selectedUserId">
                <input
                  type="number"
                  @change="onInputChange(project.id, $event)"
                  class="form-control text"
                  min="0"
                  v-model="items[project.id][user.id]"
                >
                <transition name="slide-fade">
                  <p class="fukidashi">{{project.name}}</p>
                </transition>
              </template>
              <template v-else>{{items[project.id][user.id]}}</template>
            </td>
            <!-- <v-tooltip :key="user.id" :value="user.id === selectedUser" left>
              <span>Programmatic tooltip</span>
            </v-tooltip>-->
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import { IBeetlePosition } from "../interfaces";
import store, { IState } from "../store";

interface ITableItem {
  [projectId: number]: {
    [userId: number]: number;
  };
}

interface ITableProject {
  id: number;
  name: string;
}

interface ITableUser {
  id: number;
  name: string;
}

@Component
export default class ProjectDailyTable extends Vue {
  public items: ITableItem = {};

  public users: ITableUser[] = [];
  public projects: ITableProject[] = [];
  // public selectedUser: number = -1;

  public changeColumn: { projectId: number; value: number }[];

  /**
   * 選択日付
   */
  public sharedtDate = store.state;

  onSelectUser($event: any, userId: number) {
    store.setUserId(userId);
    this.$toasted.info("select", {
      duration: 1500,
      fitToScreen: true,
      icon: "check"
    });
  }

  onInputChange(projectId: number, $event: Event) {
    console.log(`projectId: ${projectId}`);
    if ($event.target instanceof HTMLInputElement) {
      console.log($event.target.value);
    }
  }

  onSubmit() {
    console.log("更新しました(ダミー)");
    store.resetUserId();
  }

  @Watch("sharedtDate.dateString")
  onStateChange(newDate: string, oldDate: string) {
    if (newDate === oldDate) {
      console.log("日付変更なし");
    } else {
      console.log("日付が変更されました");
    }
  }

  mounted() {
    [...Array(50)].forEach((_, idx) => {
      this.users.push({ id: idx, name: `藤原${idx}` });
      this.projects.push({ id: idx, name: `プロジェクト${idx}` });
    });

    this.users.forEach(user => {
      this.projects.forEach(project => {
        if (!this.items[user.id]) {
          this.items[user.id] = {
            [project.id]: user.id * project.id
          };
        } else {
          this.items[user.id][project.id] = user.id * project.id;
        }
      });
    });
  }
}
</script>

<style lang="css" scoped>
.daily-project {
  width: 100%;
  margin: 0 auto;
}

table {
  white-space: nowrap;
  position: absolute;
}

th,
td {
  min-width: 130px;
  position: relative;
}
.invisible {
  display: none;
}

div.enable {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #212529;
  opacity: 0.7;
  z-index: 2000;
  top: 0px;
  left: 0px;
}

.not-selected {
  background-color: #212529;
}

.daily-table-area {
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  height: 600px;
}

.cell-wrapper {
  background-color: rgba(33, 37, 41, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.selected {
  z-index: 1000;
  background-color: white;
}

.fukidashi {
  width: 130px;
  position: absolute;
  padding: 10px;
  top: calc(50% - 22px);
  left: -135px;
  /* height: 100%; */
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}
.fukidashi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-left: 10px solid #33cc99;
}

:slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>