<template>
  <div class="main">
    <nav class="fixed-top navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
    <div class="container-fluid main-contents">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">日付を選択してください</span>
        </div>
        <datepicker
          placeholder="入力対象日付"
          :input-class="{'date-inputter': sharedtDate.selectedUserId === -1}"
          :value="sharedtDate.date"
          :bootstrap-styling="true"
          :language="ja"
          :disabled="sharedtDate.selectedUserId !== -1"
          :calendar-button="true"
          @selected="onDateSelected($event)"
          format="yyyy-MM-dd"
        />
      </div>
      <ProjectDailyTable></ProjectDailyTable>
    </div>
  </div>
  <!-- <div @click="clickEvent($event)" class="App">
    <span>please click anywhere!!</span>
    <br>
    <span>
      The beetle was referred to this
      <a href="https://qox.jp/blog/css-beetle/">site</a>. Thank you.
    </span>
    <Beetle
      v-for="(pos, key) in beetlePositions"
      :key="key"
      v-bind:left="pos.left"
      v-bind:top="pos.top"
    />
  </div>-->
</template>

<script lang="ts">
import Vue from "vue";
import Beetle from "./components/Beetle.vue";
import ProjectDailyTable from "./components/ProjectDailyTable.vue";
import Component from "vue-class-component";
import { IBeetlePosition } from "@/interfaces";
import Datepicker from "vuejs-datepicker";
import { ja } from "vuejs-datepicker/dist/locale";
import store from "./store";

@Component({
  components: {
    Beetle,
    ProjectDailyTable,
    Datepicker
  }
})
export default class App extends Vue {
  public beetlePositions: IBeetlePosition[] = [];
  public sharedtDate = store.state;

  public ja = ja;

  public clickEvent($event: MouseEvent) {
    this.beetlePositions.push({
      left: $event.clientX - 200,
      top: $event.clientY - 300
    } as IBeetlePosition);
  }

  public onDateSelected($event: Date) {
    store.setDateAction($event);
  }
}
</script>

<style scoped>
.container-fluid {
  padding: 0px;
}

.main {
  width: 100%;
  height: 100%;
}

.main-contents {
  margin-top: 65px;
  margin-bottom: 10px;
}

.input-group {
  margin: 0 auto 10px auto;
  width: 474px;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
</style>
